

<div class="container">
    <table>
        <thead>
            <tr>
                <th>sport</th>
                <th>date</th>
                <th>time</th>
                <th>price</th>
                <th>cancel</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let slot of mySlots">
                <td>{{slot.id}}</td>
                <td>{{slot.name}}</td>
                <td>{{slot.sport}}</td>
                <td>{{slot.date}}</td>
                <td>{{slot.time}}</td>
            </tr>
        </tbody>
    </table>
</div>